name: ci

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]
env:
  rendered_dist: 'rendered/tools/'
  test_dist: 'rendered/tests/suite_qiime2_mystery-stew'
  report_html: 'rendered/tests/tool_test_output.html'
  report_json: 'rendered/tests/tool_test_output.json'

jobs:
  lint:
      runs-on: ubuntu-latest
      steps:
      - name: checkout source
        uses: actions/checkout@v2

      - name: set up python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8

      - name: install dependencies
        run: python -m pip install --upgrade pip

      - name: lint
        run: |
          pip install -q https://github.com/qiime2/q2lint/archive/master.zip
          q2lint
          pip install -q flake8
          flake8

  test-against-galaxy:
    needs: lint
    runs-on: ubuntu-latest
    steps:
    - name: checkout source
      uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: |
          ~/.planemo/
          ~/miniconda3/
        key: days-since-accident-1

    - name: install QIIME 2 core distro
      run: |
        envFile=qiime2-latest-py38-linux-conda.yml
        wget https://raw.githubusercontent.com/qiime2/environment-files/master/latest/staging/$envFile
        conda env create -q -p ../test-env --file $envFile

    - name: install dependencies
      shell: bash -l {0}
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda activate ../test-env
        pip install planemo
        make dev

    - name: template all
      id: template_all
      shell: bash -l {0}
      continue-on-error: true
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda activate ../test-env
        make tools

    # IF template all
    - name: publish template all
      if: steps.template_all.outcome == 'success'
      uses: actions/upload-artifact@v2
      with:
        name: template-all
        path: ${{ env.rendered_dist }}
    # END IF

    - name: make test
      id: make_test
      shell: bash -l {0}
      run: |
        source "$CONDA/etc/profile.d/conda.sh"
        conda activate ../test-env
        make test

    - name: rendered mystery-stew
      uses: actions/upload-artifact@v2
      with:
        name: mystery-stew
        path: ${{ env.test_dist }}

    - name: html report
      uses: actions/upload-artifact@v2
      with:
        name: html-report
        path: ${{ env.report_html }}

    - name: json report
      uses: actions/upload-artifact@v2
      with:
        name: json-report
        path: ${{ env.report_json }}

    - name: Check for failure
      if: steps.template_all.outcome == 'failure'
      run: exit 1

  build-conda-package:
    needs: test-against-galaxy
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout source
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: set up git repo for versioneer
      run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*

    - uses: qiime2/action-library-packaging@alpha1
      with:
        package-name: q2galaxy
        build-target: staged
        library-token: ${{ secrets.LIBRARY_TOKEN }}
